@media(max-width:1366px) {
    .main {
        width: 95%;
    }

    .navbar {
        width: 100%;

    }

    .nav.navbar-nav li a {
        font-size: 18px;
    }

    h3.fitcontent {
        font-size: 24px;
    }

    p.title {
        font-size: 50px;
    }

    .block-item {
        width: 180px;
    }

    .row .block-wrapper .block-item {
        height: 170px !important;
    }
    .balance_container{
        height: 350px !important;
    }
    .card{
        height: 350px !important;
    }
    .card-chip{
        margin: 10px !important ;
    }
    .card-name{
        margin: 10px!important;
    }
    .card-balance{
        font-size: 60px !important;
    }
    .balance_title{
        font-size: 25px !important;
    }
    .card-number{
        font-size: 25px !important;
    }
    .middle-block{
        margin-bottom: 20px !important;
    }
    .button{
        left: 20% !important;
        right: 20% !important;
    }
}
@media(max-width:1250px){
    .balance_body{
        width: 60% !important;
    }
    .button{
        left: 20% !important;
        right: 20% !important;
    }
}
@media(max-width:1100px){
    .balance_container{
        height: 300px !important;
    }
    .card{
        height: 300px !important;
    }
    .card-chip{
        margin-left: 10px !important;
        margin: 5px !important ;
    }
    .card-name{
        margin: 5px!important;
        font-size: 24px !important;
    }
    .card-balance{
        font-size: 50px !important;
    }
    .balance_title{
        font-size: 20px !important;
    }
    .card-number{
        font-size: 20px !important;
    }
    .middle-block{
        margin-bottom: 10px !important;
    }
    .balance_body{
        width: 60% !important;
    }

}
@media(max-width:1024px) {
    .main {
        width: 95%;
    }

    .navbar {
        width: 100%;

    }

    .nav.navbar-nav li a {
        font-size: 17px;
    }

    .order-item {
        width: 23%;
    }

    h3.fitcontent {
        font-size: 23px;
    }

    p.title {
        font-size: 10px;
    }
    .balance_body{
        width: 70% !important;
    }
    .balance_container{
        padding: 50px !important;
    }
    .order-row .block-wrapper{
        /* display: grid !important; */
        grid-template-columns: repeat(3,minmax(0,1fr)) !important;
        gap: 3%;
    }
}

@media(max-width:880px) {
    .block-wrapper {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .block-wrapper {
        gap: 3%;
        height: fit-content;
    }

    .block-item {
        height: 100%;

    }
    .row{
        margin-top: 0 !important;
        display: grid !important;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* gap: 20px; */
    }
    .row::before{
        content: none !important;
    }
    .row .displaycolumn{
        display: flex !important;
        width: 90% !important;
        justify-content: space-around !important;
        margin: auto;
    }
    .row .block-wrapper{
        display: flex !important;
    }
    .row .block-wrapper .block-item{
        width: 100px;
    }
    .p.title {
        font-size: 8px;
    }

    .block-item {
        padding: 15px;
    }

    .header_container {
        width: 100% !important;
        height: 70px;
    }

}

@media(max-width:768px) {
    .main {
        width: 95%;

    }

    .navbar {
        width: 100%;

    }

    .navbar-nav li a {
        font-size: 14px !important;
    }

    h3.fitcontent {
        font-size: 20px;
    }

    p.title,
    p.items {
        font-size: 50px;
    }

    .header_container {
        width: 100% !important;

    }

    .orer_item {
        width: 100% !important;
    }
    .balance_body{
        width: 85% !important;
    }
.first_line-pay{
    display: flex !important ;
    flex-direction: column !important;
    gap: 20px !important;
    margin-bottom: 20px !important
}
.one_item{
    width: 90% !important;
    margin-right: 0 !important;margin-left: 0 !important;
    margin: auto !important;
    margin-top: 10px !important;
}
.order-row .block-wrapper{
    /* display: grid !important; */
    grid-template-columns: repeat(2,minmax(0,1fr)) !important;
    gap: 3%;
}
.pagination_nav{
    margin-top: 30px !important;
}

}
@media(max-width:650px){
    .balance_body{
        width: 95% !important;
    }
    .balance_container{
        padding: 20px !important;
    }
}

@media(max-width:600px) {
    .main {
        width: 95%;
    }

    .navbar-nav li a {
        font-size: 12px !important;
    }

    .navbar {
        width: 100%;

    }
}

@media(max-width:550px) {
    .nav.navbar-nav {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin: 0;
    }

    .navbar-nav li a {
        text-align: center;
        margin: auto;
        font-size: 15px !important;
    }

    .header_container {
        height: fit-content;
    }

    .nav.navbar-nav::before {
        content: none;
    }
    .order-row .block-wrapper{
        /* display: grid !important; */
        grid-template-columns: repeat(1,minmax(0,1fr)) !important;
        gap: 3%;
    }
}
@media(max-width:462px){

    .bottom-block{
        display: flex;
        flex-direction: column !important;
        position: relative !important;
    }
    .card-number{
        font-size: 14px !important;
      margin: 0 !important;
      float: left;
    }
    .card-icon{
        position: absolute !important;
        bottom: -20px ;
        right: 10px;
        margin: 0 !important;
    }
    .balance{
        margin-bottom: 0;
    }
    .card-name{
        font-size: 20px !important;
    }
    .card-chip{
        width: 10px !important;
    }
    .balance_credit-card{
        width: 50px !important;
    }
}
@media(max-width:450px) {
    .block-wrapper {
        display: grid !important;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .row .block-wrapper{
        display: grid !important;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-bottom: 60px;
    }
    .row .block-wrapper .block-item{
        width: 100% !important;
    }

}

@media(max-width:375px) {
    .main {
        width: 95%;
    }

    .navbar {
        width: 100%;

    }

}






























html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
}

.main {
    margin-top: 1%;
    border: 1px solid black;
    background-color: #7fb5c5;
    /* #7fb5c5 */
    /* #5bc0de */
    height: fit-content;
    padding-bottom: 10%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}




/* navbar */




.navbar {
    margin-left: 0px;
    padding-left: 0px;
}

.header_container {
    width: 60%;
    margin: auto;
}

.navbar-collapse {
    width: 100%;
    margin: auto;
}

.navbar-nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
















.row {
    margin-left: 0 !important;margin-right: 0 !important;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.row .block-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.block-item.half-day{
    width: 100% !important;
    display: grid;
    place-items: center;
}


.row .block-wrapper .block-item {
    border: 1px solid;
    border-radius: 10px;
    width: 30%;
    height: 135px;
    position: relative;
}

.block-item.veg {
    background-color: darkseagreen;
}

.block-item.inter {
    background-color: #31b0d5;
}

.block-item.korean {
    background-color: khaki;
}

.block-item.half-day {
    background-color: #d9534f;
}
.group-form {
    margin-top: 15%;
}

.group-form h1 {
    font-size: 40px;
}

.block-item p {
    font-weight: bold;
    font-size: 15px;
}

.order-row {
    display: flex;
    justify-content: center;
    /* margin-top: 200px; */
    height: 40%;

}

.order-row .block-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

.fitcontent {
    height: fit-content;
}


.displaycolumn {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.dfc{
    display: flex;flex-direction: column;
}
.order-row .block-wrapper{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 3%;
}
.order-row .block-wrapper .block-item {
    padding: 20px;
    border-radius: 10px;
    width: 100%;

    height: 160px;

}

.forcolumn {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-item.forcolumn.paid {
    background-color: darkblue;
}

.block-item.forcolumn.not-paid {
    background-color: #d9534f;
}


.block_item-btn {
    margin-bottom: 0;
}

.button {
    position: absolute;
    bottom: 10px;
    left: 30%;
    right: 30%;
    text-align: center;

}


.notify {
    width: 90%;
    margin-top: 20px;
    text-align: center;
    margin-left: 70px;
}

.title {
    font-size: 15px;
}


.balance_body {
    width: 50%;
    margin: auto
}
.balance_title {
    margin: 0;
}

.balance_container {
    width: 100%;
    height: 428px;
    padding: 80px;
}

.card {
    height: 428px;
    width: 100%;
    background: rgb(42, 134, 153);
    background: linear-gradient(325deg, rgba(42, 134, 153, 1) 11%, rgba(154, 232, 249, 1) 72%, rgba(255, 255, 255, 1) 100%);
    border-radius: 20px;
    color: white;
    /* margin:20px; */
    font-size: 16px;
    box-shadow: 2px 2px 20px #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-block {
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.middle-block {
    margin-bottom: 50px;
}

.bottom-block {
    /* display: inline-block; */
    width: 100%;
    height: 100px;
}

.card-chip {
    float: left;
    margin: 20px;
    margin-bottom: 0;
    width: 15%;
    height: auto;
}

.card-name {
    float: right;
    margin: 20px;
    margin-bottom: 0;
    position: relative;
    font-size: 28px;
    font-weight: 550;
}

.card-number {
    font-size: 28px;
    margin: -15px 0 0 0;
    text-align-last: center;
}

.balance {
    float: left;
    margin: 20px;
    position: relative;
    top: 38px;
}

.card-balance {
    font-weight: 700;
    font-size: 85px;
    margin-top: 10px;

}

.card-icon {
    float: right;
    margin: 0 20px 0 0;
    /* margin-top:75px; */
}

.circle-left {
    margin-right: -15px;
    opacity: 0.7;
}

.balance_title {
    font-size: 40px;
}

.balance_credit-card {
    width: 70px;
    /* background-color: white; */
    height: auto;
}

.uzcard {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    /* object-fit: contain; */
}








/* payment */





.payment_container{
    width: 60%;
    height: 60%;
    background-image: linear-gradient(rgb(204, 204, 251),rgb(196, 190, 248) );
    /* background-color: #fff987;  */
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;flex-direction: column;
    justify-content: space-around;
}
.first_line-pay{
    display: flex;
    gap: 40px;
}
.one_item{
    width: 30%;
    height: 90%;
    background: rgb(76,161,175);
    background: linear-gradient(176deg, rgb(88, 182, 197) 29%, rgba(45,179,251,1) 88%);margin:40px auto ;
    color: white;
    /* border: 1px solid #e7e7e7; */
    border-radius: 20px;
    box-shadow: 2px -4px 72px 7px rgba(255,255,255,0.45);
    -webkit-box-shadow: 2px -4px 72px 7px rgba(255,255,255,0.45);
    -moz-box-shadow: 2px -4px 72px 7px rgba(255,255,255,0.45);
}
.count, .sum{
    font-size: 50px;
}
.ml0{
    margin-left: 0;
}
.mr0{
    margin-right: 0;
}
.second_line-pay{
    width: 65%;
    height: auto;
    margin: auto;
}
.full_width{
    width: 100%;
    height: 100px;
    font-size: 50px !important;
    margin: auto;
}
.item {
    margin: 0;
}






/* .input_register{
    position: relative;
    top: 40px;
} */
.register_txt{
margin-top: 10%;
}







/* rules  */





.rules_container{
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
    height: max-content;
    border-radius: 20px;
    background-color: #4671a1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}
.rules_docs{
    display: flex;justify-content: space-between;

}
.rules_docs iframe{
    width: 30%;
    height: 80%;
}
.rules{
    font-size: 20px;text-align: left;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(226, 237, 255);
    width: fit-content;
    margin: auto;
}











/* login */






.login_input{
    width: 300px;
    border-bottom: 1px solid #4671a1;;
    margin: auto;
    display: flex;
    padding: 10px;
    /* padding-right: 0; */
    justify-content: space-between;
    background-color: aliceblue;
    height: 80px;
    position: relative;
}
.borderup{
    border-radius: 15px 15px 0 0;
}
.borderdown{
border-radius:0 0 15px 15px;

}
.login_input p{
    height:fit-content;
    margin: auto 10px;
}

.input{
    /* margin-right: 0; */
    width:fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7px;

}
.btn_login{
    width: 100px;
    margin:20px  auto;

}
.btn_login button{
    width: 100%;
}
.reg-p{
    width: fit-content;
    /* margin: auto; */
}
.warning_reg{
    width: fit-content;
    margin: auto;
}


.center {
    justify-content: center;
}



.pdf {
    width: 100%;
    height: 600px;
}