{% extends "main.html" %}


{% block content %}


    <h2>User Balance</h2>
<div class="balance_container">

  <div class="balance_body">
    <div class='card'>
      <div class='top-block'>
        <div class='card-chip'>
          <img src="/static/images/icons8-credit-card-64.png" alt="" class="balance_credit-card">
        </div>
        <span class='card-name'>
            {{ request.user }}
        </span>
      </div>
      <div class="middle-block">

        <div class="balance_title">Balance</div>
        <div class='card-balance'>
           {{ request.user.balance|floatformat:0 }} UZS
        </div>
      </div>
      <div class='bottom-block'>
        <div class='card-icon'>

          <img class="uzcard" src="/static/images/uzcard1_EchoSUl4QH.png" alt="uzcard">
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}