{% extends "main.html" %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger notify" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="group-form">
        <h2>Register</h2>
    <form action="{% url "main:register" %}" method="POST">
        {% csrf_token %}

        <p>Email: {{ form.email }}</p>
        <p>Full Name: {{ form.full_name }}</p>
        <p>Password: {{ form.password1 }}</p>
        <p style="font-size: 11px; margin-right: 110px;">* at least 8 characters</p>
        <p style="font-size: 11px; margin-right: 60px;">* at least 1 upper or lower case letter</p>
        <p>Confirm Password: {{ form.password2 }}</p>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    Already have an account? <a href="{% url 'main:login' %}">Register</a>
    </div>
{% endblock %}