{% extends "main.html" %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger notify" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="group-form-reg">
    <h2 class="register_txt">Register</h2>
    <form action="{% url "main:register" %}" method="POST">
        {% csrf_token %}
        <div class="input_register">
            <div class="login_input borderup">
                <p>Email:</p>
                <p class="input"> {{ form.email }}</p>
            </div>
            <div class="login_input ">
                <p>Full Name:</p>
                <p class="input"> {{ form.full_name }}</p>
            </div>
            <div class="login_input ">
            <p>Password: </p>
            <p class="input"> {{ form.password1 }}</p>
        </div>
        <div class="login_input borderdown">
            <p>Confirm <br> Password: </p>
            <p class="input"> {{ form.password2 }}</p>
        </div>
    </div>
    <div class="warning_reg">
        <p class="reg-p" style="font-size: 12px; margin-right: 110px; ">* at least 8 characters</p>
        <p  class="reg-p" style="font-size: 12px; margin-right: 60px; margin-bottom: 10px;">* at least 1 upper or lower case letter</p>
    </div>

        <div class="btn_login">
            <a href="{% url "main:register" %}">
                <button class="btn btn-primary" type="submit">Register</button>
            </a>
        </div>
</form>
Already have an account? <a href="{% url 'main:login' %}">Login</a>
</div>
</div>
{% endblock %}