{% extends "main.html" %}


{% block content %}
    <h2>Tashkent International School Canteen <br> Rules</h2>

        <div class="rules">
            <p>1. Food waste must be disposed of properly in the trash cans provided.</p>
            <p>2. No outside food or drinks are allowed in the canteen.</p>
            <p>3. Food must be consumed at designated tables and not taken out of the canteen.</p>
            <p>4. No food or drinks are allowed to be taken away from the canteen without permission.</p>
            <p>5. Students are responsible for cleaning their own table after finishing their meal.</p>
        </div>


        <iframe src="static/pdf/Resume.pdf" frameborder="0"></iframe>
        <iframe src="static/pdf/Resume.pdf" frameborder="0"></iframe>
        <iframe src="static/pdf/Resume.pdf" frameborder="0"></iframe>
{% endblock %}